     * {
         margin: auto;
         padding: 0px;
     }
     
     @viewport {
         width: device-width;
         zoom: 1.0;
     }
     
     body {
         background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=abstract-antique-backdrop-background-129731.jpg&fm=jpg);
         margin-top: 30px;
         margin-right: 150px;
         margin-left: 45px;
     }
     
     .myimg img {
         float: left;
         margin-top: 2px;
         margin-left: 15px;
         width: 200px;
         padding: 20px 30px;
         height: 256px;
     }
     
     h1 {
         background-color: greenyellow;
         border: 4px solid red;
     }
     
     .do {
         margin-left: 0px;
         margin-top: 1%;
         color: rgb(126, 182, 63);
     }
     
     .stl {
         text-decoration: wavy;
         margin-top: 5%;
         margin-left: 10px;
     }
     
     body img {
         margin-left: 90%;
         width: 16%;
         height: 18%;
     }
     
     .h {
         margin-top: 8%;
         margin-left: 31%;
     }
     
     .la {
         margin-left: 2px;
     }
     
     #mail {
         margin-top: 3%;
         margin-left: 3px;
         background-color: #fff;
         border: 1px solid rgb(172, 58, 58);
     }
     
     #num {
         margin-top: 3%;
         margin-left: 0px;
         background-color: #fff;
         border: 1px solid rgb(172, 58, 58);
     }
     
     .btn {
         background-color: yellow;
         color: rgb(245, 40, 3);
         margin-left: 27%;
         margin-top: 3%;
     }
     
     .fee {
         margin-left: 20px;
         margin-top: 8%;
     }
     
     #feed {
         background-color: lightcyan;
         padding: 20px 10px;
         width: 30%;
         margin-left: 20px;
         margin-top: 8%;
         box-sizing: border-box;
     }
     
     .envelope {
         float: left;
         margin-top: 3%;
     }
     
     .bi-phone {
         margin-left: 2px;
     }